<a href="https://www.flaticon.com/free-icons/oxygen" title="oxygen icons">Oxygen icons created by Flat Icons - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/snack" title="snack icons">Snack icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/cat" title="cat icons">Cat icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/water" title="water icons">Water icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/tree" title="tree icons">Tree icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/solar-panel" title="solar panel icons">Solar panel icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/fuel" title="fuel icons">Fuel icons created by Freepik - Flaticon</a> 
<a href='https://www.freepik.com/vectors/spaceship-interior'>Spaceship interior vector created by vectorpocket - www.freepik.com</a>
<a href='https://www.freepik.com/vectors/background'>Background vector created by brgfx - www.freepik.com</a>
<a href='https://www.freepik.com/vectors/car-cartoon'>Car cartoon vector created by upklyak - www.freepik.com</a>

<a href='https://www.freepik.com/vectors/alien-planet'>Alien planet vector created by upklyak - www.freepik.com</a>

<a href='https://www.freepik.com/vectors/alien-planet'>Alien planet vector created by vectorpouch - www.freepik.com</a>
<a href='https://www.freepik.com/vectors/meteorite'>Meteorite vector created by upklyak - www.freepik.com</a>