<img class="background-image" src="images/2111.w023.n001.1460B.p1.1460.jpg">
<nav>
    <form action="/logout" method="post">
        <button class="navbar-logout-btn" type="submit">Logout</button>
    </form>
</nav>
<div class="bland-container">
    <h2>Oh no! You ran out of supplies and did not make it to mars.</h2>
    <a class="btn" href="/profilepage">Try again?</a>
</div>