<!--parent body tag coming from layout -->
<img class="background-image" src="../images/2109.w023.n001.1043B.p1.1043.jpg">
 <div class="container">
     <div class="content">
        <h1>{{appTitle}}</h1>
   
    
    <h2>Welcome Traveler!</h2>

    <nav>
        <a class="btn" id="signup_login_links" href="/signup">Signup</a>
        <a class="btn" id="signup_login_links" href="/login">Login</a>
    </nav>
 </div>
</div>