<img id="indexBgImg" src="/images/946.jpg">
<div class="index-container">
    <h1>{{appTitle}} 🚀</h1>
    <h2>Welcome Traveler!</h2>

    <nav>
        <a id="signup_login_links" href="/signup">Signup</a>
        <a id="signup_login_links" href="/login">Login</a>
    </nav>

</div>