<div class="credits-container">
  <p> Your credits: <span id="credits">100</span></p>
</div>
<div class="journey-container">
  <h1>Start your journey</h1>
  <h2>Collect the things you will need!</h2>

  <div class="packing-list">

    <img id="item-spacesuit" class="packing-items"src="/images/astronaut.png"/>

    <img id="item-food" class="packing-items" src="/images/bar.png" />

    <img id="item-oxygen" class="packing-items" src="/images/oxygen-tank.png" />

  </div>

  <button id="launchBtn">Launch!</button>

</div>

<script src="/js/journeypagefunctions.js"></script>

{{this.spacesuitQuantity}}