<!--parent body tag coming from layout -->
<img class="background-image" src="../images/951.jpg" />

<div class="journey-container">
  <h2> Hi {{ user.username }}! <br> Collect the things you will need!</h2>
  {{!-- <form action="/logout" method="post">
    <button class="logout-btn" type="submit">Logout</button>
  </form> --}}
  <div class="credits-container">
    <p> Your credits: <span id="credits">100</span></p>
  </div>

  <div class="packing-list">
    <div class="item-container">
      <img id="item-spacesuit" class="packing-items" src="/images/astronaut.png" />
      <p> Spacesuit: <span id="spacesuitQuantity">0</span></p>
    </div>
    <div class="item-container">
      <img id="item-food" class="packing-items" src="/images/bar.png" />
      <p> Food: <span id="foodQuantity">0</span></p>
    </div>
    <div class="item-container">
      <img id="item-oxygen" class="packing-items" src="/images/oxygen-tank.png" />
      <p> Oxygen: <span id="oxygenQuantity">0</span></p>
    </div>
    <div class="item-container">
      <img id="item-fuel-station" class="packing-items" src="/images/fuel-station.png" />
      <p> Fuel: <span id="fuelQuantity">0</span></p>
    </div>
    <div class="item-container">
      <img id="item-solar-panel" class="packing-items" src="/images/solar-panel.png" />
      <p> Solar Panel: <span id="solarpanelQuantity">0</span></p>
    </div>
    <div class="item-container">
      <img id="item-sprout" class="packing-items" src="/images/sprout.png" />
      <p> Seeds: <span id="sproutQuantity">0</span></p>
    </div>
    <div class="item-container">
      <img id="item-water-bottle" class="packing-items" src="/images/water-bottle.png" />
      <p> Water Bottle: <span id="waterbottleQuantity">0</span></p>
    </div>
  </div>

<form action="/launch" method="post">
  <button class="btn" id="launchBtn" type="submit">Launch!</button>
</form>


  <script src="/js/journeypagefunctions.js"></script>