<!--parent body tag coming from layout -->

<img class="background-image" src="/images/2731.jpg">
<div class="container">
    <div class="profile-content">
        <h1>Your profile</h1>

        <a class="profile-btn" href="/journeypage">Start your journey</a>
        <a class="profile-btn" href="/items/{{this._id}}/edit">Edit your journey</a>
        <a class="profile-btn" href=" ">Delete your journey</a>
    <!-- <form action="/item/{{this._id}}/delete" method="post">
        <button type="submit">Delete item</button>
    </form> --->
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</div>