
    <img id="background-image" src="/images/2731.jpg">
    <div class="profile-container">
    <h1>Your profile</h1>

    <a class="start-btn" href="/journeypage">Start your journey</a>
    <a class="start-btn" href=" ">Edit your journey</a>
    <a class="start-btn" href=" ">Delete your journey</a>

    </div>
