<img class="background-image" src="/images/1856.jpg">
<nav>
    <form action="/logout" method="post">
        <button class="navbar-logout-btn" type="submit">Logout</button>
    </form>
</nav>
<div class="bland-container">
    <h2>You successfully made it to mars!</h2>
    <a class="btn" href="/profilepage">Go back to profile page</a>
</div>