

<img class="background-image" src="/images/1856.jpg">
<div class="bland-container">
    <h2>You successfully made it to mars!</h2>
    <a class="btn" href="/profilepage">Go back to profile page</a>

</div>