.journey-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    height: 90vh;
    width: 90vw;
    color: white;
    overflow: scroll;
    padding-left: 10px;
}

.journey-container h2 {
    padding-right: 40px;
}

.credits-container p {
    right: 10px;
    top: 20px;
}

.packing-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
    height: 100%;
    width: 80vw;
    padding: 10px;
}

.packing-items {
    flex-direction: row;
    cursor: pointer;
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 12%;
    padding: 5%;
}