.profile-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.profile-btn {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  background-color: rgba(10, 131, 255, 0.7);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Righteous";
  width: 60%;
}
