.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-btn {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  background-color: rgba(10, 131, 255, 0.7);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Righteous";
  width: 60%;
  margin: 3%;
  padding: 1%;
}

.profile-btn:hover {
  background-color: transparent;
  transition: 0.5s;
  box-shadow: inset 0 0 5px #fff, inset 5px 0 20px #f0f, inset -5px 0 15px #0ff, inset 5px 0 15px #f0f,
    inset -5px 0 15px #0ff, 0 0 5px #fff, -5px 0 15px #f0f, 5px 0 15px #0ff;
}
